

#codoacodoimagen{
    width: 20%;
    height: 20%;
}

#comprartickets{
    color: green;
}

.ba1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/ba1.jpg");
    height: 70vh;
    color: white;
    

}

.oradores{
    background-color: antiquewhite;
    height: 80vh;

}

.titulooradores{
    display: flex;
}


.honolulu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/ba1.jpg");
    height: 70vh;
}

footer{
    background-color: #1D4054;
    color: white;
}

.octubre{
    background-color: #353A40;
    color: white;
}

.tarjetasTicket{
    margin-top: 20px;
}

.linea {
    display: inline-block;
    text-align: center !important;
}